@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bolder;
}

.block-content {
    flex: 1;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 85px;
    margin-bottom: 5px;

}

.button-take-to-work {
    padding: 10px 0px;
    border-bottom: 1px solid;
    border-color: #e7e4e4
}

.delete-comment {
    float: right;
}

.img-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 3rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 52px;
    line-height: 3.5rem;
    background-color: #ccc;
}

.footer {
    width: 100%;
    margin-left: 60px;
}


.link-to-absolute {
    text-decoration: none;
    color: black;
}

a.link-to-absolute:hover {
    padding: 5px 1px;
    background-color: #c9c7c7a3;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.header_container {
    position: absolute;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    background: #fcf8ee;
    overflow: hidden;
}


.image_block {
    width: 99vw;
    max-width: 1920px;
    height: 600px;
    background: url(../img/headerPhoto.jpg);
    background-position: center;
}

.filter {
    position: absolute;
    width: 99vw;
    max-width: 1920px;
    height: 600px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.7);
}

.company_name {
    font-size: 20px;
    color: #F3FFFD;
}

.achievement_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 99vw;
    max-width: 1046px;
    left: calc(50% - 1046px/2);
    top: 30px;
}

.header_text_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    color: #FFFFFF;
    width: 701px;
    height: 450px;
}

.header_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #d1b897;
}

.header_text>h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 7.5rem;
    text-align: center;
    letter-spacing: 10px;
    margin: 5rem 0 2rem;
}

.header_text>h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 4px;
    margin: 0;
}

.achievement_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    width: 1046px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    width: 240px;
    height: 180px;
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    color: #c8a06a;
}

.section:hover {
    background: #d1b897;
    color: rgb(54 51 51) !important;
}

.support_img {
    padding-bottom: 6px;
    width: 90px;
    margin: -11px;
}

.truck_img {
    width: 105px;
    margin: -15px -2px;
}

.section>h3 {
    padding-top: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    letter-spacing: 1px;
}

@media (min-width: 370px) and (max-width: 415px) {
    .image_block {
        width: 291vw;
        max-width: 1800px;
        height: 456px;
        background: url(../img/headerPhoto.jpg);
        background-position: center;
    }

    .filter {
        position: absolute;
        width: 100vw;
        max-width: 1931px;
        height: 457px;
        left: 0px;
        top: 0px;
        background: rgba(0, 0, 0, 0.7);
    }

    .achievement_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 99vw;
        max-width: 1046px;
        left: calc(50% - 1046px/2);
        top: 30px;
    }

    .header_text_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        color: #FFFFFF;
        width: 701px;
        height: 450px;
    }

    .header_text>h1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 2.5rem;
        text-align: center;
        letter-spacing: 10px;
        margin: 6rem 10px 2rem;
        padding-left: 43rem;
    }

    .achievement_section {
        transform: translate(339px, -63px);
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 360px;
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
        width: 103px;
        height: 87px;
        background: #FFFFFF;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        color: #c8a06a;
    }

    .truck_img {
        width: 43px;
        margin: -15px -2px;
    }

    .section>h3 {
        padding-top: 13px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 10px;
        letter-spacing: 1px;
    }
    
}

.deadline-done {
    justify-content: space-between;
    width: 30.5rem;
    display: flex;
    align-items: center;
    float: right;
}

.CRITICAL_priority {
    color: #b72828;
    font-weight: bold;
}

.URGENT_priority {
    color: #e40d0d;
}

.HIGH_priority {
    color: #ff7f00;
}

.MEDIUM_priority {
    color: #dcc910;
}

.LOW_priority {
    color: #38b238;
}

.priority-font {
    padding: 5px 10px;
    border-radius: 5px;
    background: #edecec;

}

.form-label {
    font-size: 21px;
    margin-top: 20px;
}

.sidebar {
    position: fixed;
    width: 60px;
    height: 100vh;
    background-color: #a0a0a0;
    overflow: hidden;
    transition: 0.5s;
}

.sidebar:hover {
    width: 300px;

}

.sidebar ul {
    padding-left: inherit;
    position: relative;
    height: 100vh;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li:hover {
    background-color: darkgrey;
}

.sidebar ul li a {
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar ul li a .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    font-size: 1.5rem;
    color: #f3f3f3;

}

.sidebar ul li a .text {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #f3f3f3;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.sidebar ul li .logo {
    margin-bottom: 50px;
}

sidebar ul li .logo:hover {
    background-color: gainsboro;
}

.sidebar ul li .logo .icon {
    font-size: 2em;
}

.sidebar ul li .logo .text{
    font-size: 1.2em;
    font-weight: 500;
}

footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: auto !important;
    background-color: #a0a0a0;
    padding: 20px 10%;
}

footer ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    margin-bottom: -20px;
}

.footer-col h4 {
    position: absolute;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 15px;
    color: #f3f3f3;
    text-transform: capitalize;
}

ul .link-wrapper {
    display: flex;
    justify-content: center;
}

ul li:not(:last-child){
    margin-bottom: 2px;
}

ul li .footer-link {
    display: inline-flex;
    padding: 3px 8px;
    border: 1px solid;
    border-radius: 3px;
    font-size: 12px;
    text-transform: capitalize;
    color: #f3f3f3;
    text-decoration: none;
    transition: 0.5s;
}

ul li a:hover {
    color: #fff;
    padding-left: 1px;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: auto;
    background-color: #a0a0a0;
    padding: 7px 1% 7px 4%;
    list-style: none;
}

.user-panel-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item-without-link {
    color: #f3f3f3;
    margin-left: 7px;
    font-size: 14px;
}

.nav-link {
    color: #f3f3f3;
    display: block;
    font-size: 14px;
    padding: 3px 6px 3px 6px;
}

.nav-link:hover {
    color: #fff;
}

.logo img {
    max-height: 45px;
}

.pagination {
    float: right;
}

.explore-btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #c8a06a;
    background: #FFFFFF;
    padding: 10px 70px;
    border: 1px solid #c8a06a;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: .1s;
    overflow: hidden;
}

.explore-btn::before,
.explore-btn::after,
.explore-btn-text::before,
.explore-btn-text::after {
    content: "";
    position: absolute;
    width: 25%;
    height: 100%;
    background: #d1b897;
    z-index: -1;
    transition: .5s;
}

.explore-btn:before {
    top: 0;
    left: -25%;
}

.explore-btn:hover:before {
    top: 0;
    left: 0%;
}

.explore-btn:after {
    top: 0;
    right: -25%;
}

.explore-btn:hover:after {
    top: 0;
    right: 0%;
}

.explore-btn-text::before {
    bottom: -100%;
    left: 25%;
}

.explore-btn:hover .explore-btn-text::before {
    bottom: 0;
    left: 25%;
}

.explore-btn-text::after {
    top: -100%;
    left: 50%;
}

.explore-btn:hover .explore-btn-text::after {
    top: 0;
    left: 50%;
}

.explore-btn:hover {
    color: rgb(54 51 51) !important;
    text-decoration: none;
}
