{% load static %}

<div class="sidebar">
    <ul>
        <li>
            <a href="{% url 'task_manager:index' %}">
                <span class="icon">
                    <ion-icon name="home-outline"></ion-icon>
                </span>
                <span class="text">Home</span>
            </a>
        </li>
        <li>
            <a href="{% url 'task_manager:team-list' %}">
                <span class="icon">
                    <ion-icon name="people-outline"></ion-icon>
                </span>
                <span class="text">Teams</span>
            </a>
        </li>
        <li>
            <a href="{% url 'task_manager:user-team-list' %}">
                <span class="icon">
                    <ion-icon name="people-circle-outline"></ion-icon>
                </span>
                <span class="text">My teams</span>
            </a>
        </li>
        <li>
            <a href="{% url 'task_manager:task-list' %}">
                <span class="icon">
                    <ion-icon name="file-tray-stacked-outline"></ion-icon>
                </span>
                <span class="text">Tasks</span>
            </a>
        </li>
        <li>
            <a href="{% url 'task_manager:user-task-list' %}">
                <span class="icon">
                    <ion-icon name="file-tray-full-outline"></ion-icon>
                </span>
                <span class="text">Own tasks</span>
            </a>
        </li>
    </ul>
</div>
