{% extends 'base.html' %}

{% block title %}
<title>Teams | Symphony</title>
{% endblock %}

{% block content %}

  <h1>
    Teams:
    {% if request.user.is_staff %}
      <a style="float: right" class="btn btn-secondary" href="{% url 'task_manager:teams-create' %}">+</a>
    {% endif %}
  </h1>

{% include 'includes/search_form.html' %}
<br>

{% if team_list %}
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th style="padding-left: 2rem">Name</th>
        <th style="padding-left: 10rem">Teammates</th>
      </tr>
    </thead>

    {% for team in team_list %}
      <tr>
        <td style="padding-left: 2rem">
          <a class="link-to-absolute" href="{{ team.get_absolute_url }}">
            {{ team.name }}
          </a>
        </td>
        <td style="padding-left: 10rem">
          {{ team.teammates.all.count }}
        </td>
      </tr>
    {% endfor %}

  </table>
{% else %}
  <p>There are no one team</p>
{% endif %}

{% include 'includes/pagination.html' %}

{% endblock %}

