{% extends 'base.html' %}

{% block content %}

  <h1>
    Team`s name: "{{ team.name }}"
    {% if request.user.is_staff %}
      <a style="float: right" class="btn btn-warning" href="{% url 'task_manager:team-update' pk=team.id %}">Edit</a>
    {% endif %}
    {% if is_user_teammate %}
      <form  method="post" action="{% url 'task_manager:delete-user' object.pk %}">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Remove me from this team</button>
      </form>
    {% else %}
      <form method="post" action="{% url 'task_manager:assign-user' object.pk %}">
        {% csrf_token %}
        <button class="btn btn-success" type="submit">Assign me to this team</button>
      </form>
    {% endif %}
  </h1>


  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Position</th>
      </tr>
    </thead>
    {% for teammate in team.teammates.all %}
    <tbody>
      <tr>
        <th>{{ teammate.first_name }}</th>
        <th>{{ teammate.last_name }}</th>
        <th>{{ teammate.email }}</th>
        <th>{{ teammate.position }}</th>

      </tr>
    </tbody>
    {% endfor %}
  </table>


{% endblock %}