{% extends 'base.html' %}

{% block content %}

<title>Your teams</title>

<h1>
  Your teams:
  {% if request.user.is_staff %}
    <a style="float: right" class="btn btn-secondary" href="{% url 'task_manager:teams-create' %}">+</a>
  {% endif %}
</h1>
{% if team_list %}
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th style="padding-left: 10rem">Name</th>
        <th style="padding-left: 10rem">Assignees</th>
      </tr>
    </thead>

    {% for team in user.teams.all %}
    <tr>
        <td>
          {{ team.id }}
        </td>
        <td style="padding-left: 10rem">
          <a class="link-to-absolute" href="{{ team.get_absolute_url }}">
            {{ team.name }}
          </a>
        </td>
        <td style="padding-left: 10rem">
          {{ team.teammates.all|join:", " }}
        </td>
      </tr>
    {% endfor %}

  </table>
{% else %}
  <p>There are no one team</p>
{% endif %}

{% endblock %}
