{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
<title>Own tasks | Symphony</title>
{% endblock %}

{% block content %}

<h1>
  Own tasks:
  <a style="float: right" class="btn btn-secondary" href="{% url 'task_manager:task-create' %}">+</a>
</h1>

{% if assignee.task_set %}
<table class="table">
   <thead class="thead-light">
     <tr>
      <th>Name</th>
      <th>Deadline</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Assignees:</th>
      <th></th>
    </tr>
   </thead>

   {% for task in assignee.task_set.all %}

         <tr>
            <td>
                <a class="link-to-absolute" href="{{ task.get_absolute_url }}">
                    {{ task.name }}
                </a>

            </td>
            <td>
                <a class="link-to-absolute" href="{{ task.get_absolute_url }}">
                    {{ task.deadline }}
                </a>
            </td>
            <td>
              {% include "includes/status_button.html" %}
            </td>
            <td>
                <a class="link-to-absolute" href="{{ task.get_absolute_url }}">
                    {{ task.priority }}
                </a>
            </td>
            <td>
              {{ task.assignees.all.count }}
            </td>
            <td>
               {% include "includes/need_help_button.html" %}
            </td>
         </tr>
    {% endfor %}
  </table>
{% else %}
  <p>There are no one task</p>
{% endif %}

{% include 'includes/pagination.html' %}

{% endblock %}
